@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
html {
    height: 90%;
}
body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
section{
    margin: 50px;
}
.calculate-form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    border: 1px solid white;
}
.calculate-form h1{
    background-color: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.calculate-form input[type="number"]
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.calculate-form .validate {
    color: #da6161;
    font-size: 12px;
    margin-bottom: 4%;
    margin-top: 5px;
}
.calculate-form input[type="number"]:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}
.calculate-form input[type="submit"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.calculate-form input[type="submit"]:hover{
    background: #2EBC99;
}
.table h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.table table{
    width:100%;
    table-layout: fixed;
}
.table .tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.table .tbl-content{
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
.table .total {
    background-color: rgba(0,0,0,0.1);
}
.table th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
.table td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 100px;
    color: #ffffff;
}
.errors-title {
    text-align: center;
    color: orange;
}
.errors {
    text-align: center;
    color: red;
}
.back {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.arrow-box {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 20px 8px 0;
    border-color: transparent #ffffff transparent transparent;
    display: inline-block;
    margin-right: 12px;
    margin-top: 6px;
}